-- =====================================================
-- GHF Backend - Create Missing Payroll Tables
-- This script creates tables that are referenced in our payroll system
-- but are missing from the current database
-- =====================================================

USE ghf_db;

-- =====================================================
-- PAYROLLS TABLE (Main payroll records)
-- =====================================================

CREATE TABLE IF NOT EXISTS `payrolls` (
  `id` INT NOT NULL AUTO_INCREMENT,
  `employee_id` INT NOT NULL,
  `month` INT NOT NULL,
  `year` INT NOT NULL,
  `basic_salary` DECIMAL(15,2) NOT NULL DEFAULT 0.00,
  `allowances` TEXT NULL COMMENT 'JSON string of allowances array',
  `deductions` TEXT NULL COMMENT 'JSON string of deductions array',
  `gross_salary` DECIMAL(15,2) NOT NULL DEFAULT 0.00,
  `net_salary` DECIMAL(15,2) NOT NULL DEFAULT 0.00,
  `payment_date` DATE NULL,
  `status` ENUM('pending', 'processed', 'approved', 'rejected', 'paid') DEFAULT 'pending',
  `approval_stage` INT DEFAULT 0,
  `total_stages` INT DEFAULT 1,
  `approved_by` INT NULL,
  `approved_date` DATETIME NULL,
  `rejected_by` INT NULL,
  `rejected_date` DATETIME NULL,
  `rejection_reason` TEXT NULL,
  `notes` TEXT NULL,
  `created_by` INT NOT NULL,
  `updated_by` INT NULL,
  `created_at` DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  FOREIGN KEY (`employee_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  FOREIGN KEY (`rejected_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  UNIQUE KEY `unique_employee_month_year` (`employee_id`, `month`, `year`),
  INDEX `idx_payrolls_status` (`status`),
  INDEX `idx_payrolls_period` (`month`, `year`),
  INDEX `idx_payrolls_created_by` (`created_by`),
  INDEX `idx_payrolls_approved_by` (`approved_by`),
  INDEX `idx_payrolls_payment_date` (`payment_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
COMMENT = 'Main payroll records with approval workflow';

-- =====================================================
-- PAYROLL APPROVALS TABLE
-- =====================================================

CREATE TABLE IF NOT EXISTS `payroll_approvals` (
  `id` INT NOT NULL AUTO_INCREMENT,
  `payroll_id` INT NOT NULL,
  `approver_id` INT NOT NULL,
  `stage` INT NOT NULL,
  `stage_name` VARCHAR(100) NOT NULL,
  `action` ENUM('approved', 'rejected', 'returned') NOT NULL,
  `comments` TEXT NULL,
  `conditions` TEXT NULL,
  `approved_at` DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  FOREIGN KEY (`payroll_id`) REFERENCES `payrolls` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  FOREIGN KEY (`approver_id`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  INDEX `idx_payroll_approvals_payroll_id` (`payroll_id`),
  INDEX `idx_payroll_approvals_approver_id` (`approver_id`),
  INDEX `idx_payroll_approvals_stage` (`stage`),
  INDEX `idx_payroll_approvals_action` (`action`),
  INDEX `idx_payroll_approvals_approved_at` (`approved_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
COMMENT = 'Payroll approval workflow history and tracking';

-- =====================================================
-- PAYROLL DEDUCTIONS TABLE (DETAILED)
-- =====================================================

CREATE TABLE IF NOT EXISTS `payroll_deductions` (
  `id` INT NOT NULL AUTO_INCREMENT,
  `payroll_id` INT NOT NULL,
  `deduction_name` VARCHAR(255) NOT NULL,
  `deduction_type` ENUM('tax', 'social_security', 'loan', 'insurance', 'pension', 'union_dues', 'advance', 'other') NOT NULL,
  `amount` DECIMAL(15,2) NOT NULL,
  `percentage` DECIMAL(5,2) NULL,
  `is_mandatory` BOOLEAN DEFAULT FALSE,
  `is_taxable` BOOLEAN DEFAULT TRUE,
  `description` TEXT NULL,
  `reference_number` VARCHAR(100) NULL,
  `created_at` DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  FOREIGN KEY (`payroll_id`) REFERENCES `payrolls` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  INDEX `idx_payroll_deductions_payroll_id` (`payroll_id`),
  INDEX `idx_payroll_deductions_type` (`deduction_type`),
  INDEX `idx_payroll_deductions_mandatory` (`is_mandatory`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
COMMENT = 'Detailed breakdown of payroll deductions';

-- =====================================================
-- PAYROLL ALLOWANCES TABLE (DETAILED)
-- =====================================================

CREATE TABLE IF NOT EXISTS `payroll_allowances` (
  `id` INT NOT NULL AUTO_INCREMENT,
  `payroll_id` INT NOT NULL,
  `allowance_name` VARCHAR(255) NOT NULL,
  `allowance_type` ENUM('housing', 'transport', 'lunch', 'overtime', 'bonus', 'performance', 'hardship', 'danger', 'night_shift', 'weekend', 'holiday', 'other') NOT NULL,
  `amount` DECIMAL(15,2) NOT NULL,
  `percentage` DECIMAL(5,2) NULL,
  `is_taxable` BOOLEAN DEFAULT TRUE,
  `is_recurring` BOOLEAN DEFAULT TRUE,
  `description` TEXT NULL,
  `reference_number` VARCHAR(100) NULL,
  `created_at` DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  FOREIGN KEY (`payroll_id`) REFERENCES `payrolls` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  INDEX `idx_payroll_allowances_payroll_id` (`payroll_id`),
  INDEX `idx_payroll_allowances_type` (`allowance_type`),
  INDEX `idx_payroll_allowances_taxable` (`is_taxable`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
COMMENT = 'Detailed breakdown of payroll allowances';

-- =====================================================
-- PAYROLL ADJUSTMENTS TABLE
-- =====================================================

CREATE TABLE IF NOT EXISTS `payroll_adjustments` (
  `id` INT NOT NULL AUTO_INCREMENT,
  `payroll_id` INT NOT NULL,
  `adjustment_type` ENUM('addition', 'deduction') NOT NULL,
  `adjustment_name` VARCHAR(255) NOT NULL,
  `amount` DECIMAL(15,2) NOT NULL,
  `reason` TEXT NOT NULL,
  `approved_by` INT NULL,
  `approved_date` DATETIME NULL,
  `status` ENUM('pending', 'approved', 'rejected') DEFAULT 'pending',
  `created_at` DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  FOREIGN KEY (`payroll_id`) REFERENCES `payrolls` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  INDEX `idx_payroll_adjustments_payroll_id` (`payroll_id`),
  INDEX `idx_payroll_adjustments_type` (`adjustment_type`),
  INDEX `idx_payroll_adjustments_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
COMMENT = 'Payroll adjustments and corrections';

-- =====================================================
-- PAYROLL NOTIFICATIONS TABLE
-- =====================================================

CREATE TABLE IF NOT EXISTS `payroll_notifications` (
  `id` INT NOT NULL AUTO_INCREMENT,
  `user_id` INT NOT NULL,
  `payroll_id` INT NULL,
  `notification_type` ENUM('payslip_generated', 'payslip_sent', 'payroll_approved', 'payroll_rejected', 'payment_processed', 'payroll_created', 'payroll_updated', 'loan_deduction', 'bonus_awarded', 'overtime_approved') NOT NULL,
  `title` VARCHAR(255) NOT NULL,
  `message` TEXT NOT NULL,
  `is_read` BOOLEAN DEFAULT FALSE,
  `sent_via` ENUM('email', 'sms', 'system', 'push') DEFAULT 'system',
  `sent_at` DATETIME NULL,
  `read_at` DATETIME NULL,
  `priority` ENUM('low', 'medium', 'high', 'urgent') DEFAULT 'medium',
  `created_at` DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  FOREIGN KEY (`payroll_id`) REFERENCES `payrolls` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  INDEX `idx_payroll_notifications_user_id` (`user_id`),
  INDEX `idx_payroll_notifications_payroll_id` (`payroll_id`),
  INDEX `idx_payroll_notifications_type` (`notification_type`),
  INDEX `idx_payroll_notifications_read` (`is_read`),
  INDEX `idx_payroll_notifications_sent_via` (`sent_via`),
  INDEX `idx_payroll_notifications_priority` (`priority`),
  INDEX `idx_payroll_notifications_created_at` (`created_at`),
  INDEX `idx_payroll_notifications_user_read` (`user_id`, `is_read`),
  INDEX `idx_payroll_notifications_user_type` (`user_id`, `notification_type`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
COMMENT = 'Payroll notification system for employee communications';

-- =====================================================
-- LOAN INSTALLMENTS TABLE
-- =====================================================

CREATE TABLE IF NOT EXISTS `loan_installments` (
  `id` INT NOT NULL AUTO_INCREMENT,
  `loan_id` INT NOT NULL,
  `payroll_id` INT NULL,
  `installment_number` INT NOT NULL,
  `due_date` DATE NOT NULL,
  `amount` DECIMAL(15,2) NOT NULL,
  `interest_amount` DECIMAL(15,2) DEFAULT 0.00,
  `principal_amount` DECIMAL(15,2) NOT NULL,
  `status` ENUM('pending', 'paid', 'overdue', 'waived') DEFAULT 'pending',
  `paid_date` DATE NULL,
  `paid_amount` DECIMAL(15,2) NULL,
  `notes` TEXT NULL,
  `created_at` DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  FOREIGN KEY (`loan_id`) REFERENCES `loan_records` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  FOREIGN KEY (`payroll_id`) REFERENCES `payrolls` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  UNIQUE KEY `unique_loan_installment` (`loan_id`, `installment_number`),
  INDEX `idx_loan_installments_loan_id` (`loan_id`),
  INDEX `idx_loan_installments_payroll_id` (`payroll_id`),
  INDEX `idx_loan_installments_status` (`status`),
  INDEX `idx_loan_installments_due_date` (`due_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
COMMENT = 'Individual loan installment records';

-- =====================================================
-- SAMPLE DATA INSERTION
-- =====================================================

-- Insert sample payroll records
INSERT IGNORE INTO `payrolls` (`employee_id`, `month`, `year`, `basic_salary`, `gross_salary`, `net_salary`, `status`, `created_by`) VALUES
(1, 6, 2024, 800000.00, 950000.00, 850000.00, 'approved', 2),
(2, 6, 2024, 1200000.00, 1400000.00, 1250000.00, 'approved', 2),
(3, 6, 2024, 900000.00, 1050000.00, 950000.00, 'pending', 2),
(4, 6, 2024, 700000.00, 850000.00, 750000.00, 'processed', 2),
(5, 6, 2024, 1000000.00, 1150000.00, 1050000.00, 'approved', 2);

-- Insert sample payroll approvals
INSERT IGNORE INTO `payroll_approvals` (`payroll_id`, `approver_id`, `stage`, `stage_name`, `action`, `comments`) VALUES
(1, 2, 1, 'Finance Review', 'approved', 'Payroll reviewed and approved'),
(2, 2, 1, 'Finance Review', 'approved', 'All calculations verified'),
(5, 2, 1, 'Finance Review', 'approved', 'Payroll approved for payment');

-- Insert sample payroll deductions
INSERT IGNORE INTO `payroll_deductions` (`payroll_id`, `deduction_name`, `deduction_type`, `amount`, `percentage`, `is_mandatory`) VALUES
(1, 'PAYE Tax', 'tax', 80000.00, 10.00, TRUE),
(1, 'NSSF Contribution', 'social_security', 40000.00, 5.00, TRUE),
(2, 'PAYE Tax', 'tax', 120000.00, 10.00, TRUE),
(2, 'NSSF Contribution', 'social_security', 60000.00, 5.00, TRUE),
(3, 'PAYE Tax', 'tax', 90000.00, 10.00, TRUE),
(3, 'NSSF Contribution', 'social_security', 45000.00, 5.00, TRUE);

-- Insert sample payroll allowances
INSERT IGNORE INTO `payroll_allowances` (`payroll_id`, `allowance_name`, `allowance_type`, `amount`, `percentage`, `is_taxable`) VALUES
(1, 'Housing Allowance', 'housing', 100000.00, 12.50, TRUE),
(1, 'Transport Allowance', 'transport', 50000.00, 6.25, TRUE),
(2, 'Housing Allowance', 'housing', 150000.00, 12.50, TRUE),
(2, 'Transport Allowance', 'transport', 50000.00, 4.17, TRUE),
(3, 'Housing Allowance', 'housing', 120000.00, 13.33, TRUE),
(3, 'Transport Allowance', 'transport', 30000.00, 3.33, TRUE);

-- Insert sample payroll notifications

-- =====================================================
-- VIEWS FOR EASIER QUERYING
-- =====================================================

-- View for payroll summary
CREATE OR REPLACE VIEW `payroll_summary` AS
SELECT 
    p.id,
    p.employee_id,
    CONCAT(u.first_name, ' ', u.last_name) AS employee_name,
    bed.employee_id AS employee_number,
    d.department_name,
    p.month,
    p.year,
    p.basic_salary,
    p.gross_salary,
    p.net_salary,
    p.status,
    p.payment_date,
    p.created_at
FROM payrolls p
JOIN users u ON p.employee_id = u.id
LEFT JOIN basic_employee_data bed ON u.id = bed.user_id
LEFT JOIN departments d ON u.department_id = d.id;

-- View for unread notifications
CREATE OR REPLACE VIEW `unread_notifications` AS
SELECT 
    pn.id,
    pn.user_id,
    CONCAT(u.firstName, ' ', u.lastName) AS employee_name,
    pn.notification_type,
    pn.title,
    pn.message,
    pn.sent_via,
    pn.priority,
    pn.created_at,
    pn.sent_at
FROM payroll_notifications pn
JOIN users u ON pn.user_id = u.id
WHERE pn.is_read = FALSE
ORDER BY pn.created_at DESC;

-- =====================================================
-- ADDITIONAL INDEXES FOR PERFORMANCE
-- =====================================================

-- Composite indexes for common query patterns
CREATE INDEX IF NOT EXISTS `idx_payrolls_employee_status` ON `payrolls` (`employee_id`, `status`);
CREATE INDEX IF NOT EXISTS `idx_payrolls_created_at` ON `payrolls` (`created_at`);
CREATE INDEX IF NOT EXISTS `idx_payroll_deductions_payroll_type` ON `payroll_deductions` (`payroll_id`, `deduction_type`);
CREATE INDEX IF NOT EXISTS `idx_payroll_allowances_payroll_type` ON `payroll_allowances` (`payroll_id`, `allowance_type`);
CREATE INDEX IF NOT EXISTS `idx_payroll_notifications_user_created` ON `payroll_notifications` (`user_id`, `created_at`);
CREATE INDEX IF NOT EXISTS `idx_payroll_notifications_type_created` ON `payroll_notifications` (`notification_type`, `created_at`);

-- =====================================================
-- COMMENTS
-- =====================================================

-- Add comments to tables
ALTER TABLE `payrolls` COMMENT = 'Main payroll records with approval workflow';
ALTER TABLE `payroll_approvals` COMMENT = 'Payroll approval workflow history and tracking';
ALTER TABLE `payroll_deductions` COMMENT = 'Detailed breakdown of payroll deductions';
ALTER TABLE `payroll_allowances` COMMENT = 'Detailed breakdown of payroll allowances';
ALTER TABLE `payroll_adjustments` COMMENT = 'Payroll adjustments and corrections';
ALTER TABLE `payroll_notifications` COMMENT = 'Payroll notification system for employee communications';
ALTER TABLE `loan_installments` COMMENT = 'Individual loan installment records';
