-- =====================================================
-- GHF Backend - Payroll Notifications Table
-- =====================================================

USE ghf_backend;

-- =====================================================
-- PAYROLL NOTIFICATIONS TABLE
-- =====================================================

CREATE TABLE IF NOT EXISTS `payroll_notifications` (
  `id` INT NOT NULL AUTO_INCREMENT,
  `user_id` INT NOT NULL,
  `payroll_id` INT NULL,
  `notification_type` ENUM('payslip_generated', 'payslip_sent', 'payroll_approved', 'payroll_rejected', 'payment_processed', 'payroll_created', 'payroll_updated', 'loan_deduction', 'bonus_awarded', 'overtime_approved') NOT NULL,
  `title` VARCHAR(255) NOT NULL,
  `message` TEXT NOT NULL,
  `is_read` BOOLEAN DEFAULT FALSE,
  `sent_via` ENUM('email', 'sms', 'system', 'push') DEFAULT 'system',
  `sent_at` DATETIME NULL,
  `read_at` DATETIME NULL,
  `priority` ENUM('low', 'medium', 'high', 'urgent') DEFAULT 'medium',
  `created_at` DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  FOREIGN KEY (`payroll_id`) REFERENCES `payrolls` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  INDEX `idx_payroll_notifications_user_id` (`user_id`),
  INDEX `idx_payroll_notifications_payroll_id` (`payroll_id`),
  INDEX `idx_payroll_notifications_type` (`notification_type`),
  INDEX `idx_payroll_notifications_read` (`is_read`),
  INDEX `idx_payroll_notifications_sent_via` (`sent_via`),
  INDEX `idx_payroll_notifications_priority` (`priority`),
  INDEX `idx_payroll_notifications_created_at` (`created_at`),
  INDEX `idx_payroll_notifications_user_read` (`user_id`, `is_read`),
  INDEX `idx_payroll_notifications_user_type` (`user_id`, `notification_type`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
COMMENT = 'Payroll notification system for employee communications';

-- =====================================================
-- SAMPLE DATA INSERTION
-- =====================================================

-- Insert sample notifications

-- =====================================================
-- VIEWS FOR EASIER QUERYING
-- =====================================================

-- View for unread notifications
CREATE OR REPLACE VIEW `unread_notifications` AS
SELECT 
    pn.id,
    pn.user_id,
    CONCAT(u.firstName, ' ', u.lastName) AS employee_name,
    pn.notification_type,
    pn.title,
    pn.message,
    pn.sent_via,
    pn.priority,
    pn.created_at,
    pn.sent_at
FROM payroll_notifications pn
JOIN users u ON pn.user_id = u.id
WHERE pn.is_read = FALSE
ORDER BY pn.created_at DESC;

-- View for notification summary
CREATE OR REPLACE VIEW `notification_summary` AS
SELECT 
    user_id,
    CONCAT(u.firstName, ' ', u.lastName) AS employee_name,
    COUNT(*) AS total_notifications,
    SUM(CASE WHEN is_read = FALSE THEN 1 ELSE 0 END) AS unread_count,
    SUM(CASE WHEN is_read = TRUE THEN 1 ELSE 0 END) AS read_count,
    MAX(created_at) AS last_notification
FROM payroll_notifications pn
JOIN users u ON pn.user_id = u.id
GROUP BY user_id, u.firstName, u.lastName;

-- =====================================================
-- STORED PROCEDURES
-- =====================================================

DELIMITER //

-- Procedure to mark notifications as read
CREATE PROCEDURE IF NOT EXISTS `MarkNotificationsAsRead`(
    IN p_user_id INT,
    IN p_notification_ids TEXT
)
BEGIN
    DECLARE v_notification_id INT;
    DECLARE v_done INT DEFAULT FALSE;
    DECLARE v_cursor CURSOR FOR 
        SELECT CAST(TRIM(SUBSTRING_INDEX(SUBSTRING_INDEX(p_notification_ids, ',', numbers.n), ',', -1)) AS UNSIGNED) as id
        FROM (
            SELECT 1 n UNION ALL SELECT 2 UNION ALL SELECT 3 UNION ALL SELECT 4 UNION ALL SELECT 5
            UNION ALL SELECT 6 UNION ALL SELECT 7 UNION ALL SELECT 8 UNION ALL SELECT 9 UNION ALL SELECT 10
        ) numbers
        WHERE CHAR_LENGTH(TRIM(SUBSTRING_INDEX(SUBSTRING_INDEX(p_notification_ids, ',', numbers.n), ',', -1))) > 0;
    DECLARE CONTINUE HANDLER FOR NOT FOUND SET v_done = TRUE;
    
    OPEN v_cursor;
    
    read_loop: LOOP
        FETCH v_cursor INTO v_notification_id;
        IF v_done THEN
            LEAVE read_loop;
        END IF;
        
        UPDATE payroll_notifications 
        SET is_read = TRUE, read_at = NOW()
        WHERE id = v_notification_id AND user_id = p_user_id;
    END LOOP;
    
    CLOSE v_cursor;
    
    SELECT ROW_COUNT() AS updated_count;
END//

-- Procedure to send notification
CREATE PROCEDURE IF NOT EXISTS `SendNotification`(
    IN p_user_id INT,
    IN p_payroll_id INT,
    IN p_notification_type VARCHAR(50),
    IN p_title VARCHAR(255),
    IN p_message TEXT,
    IN p_sent_via VARCHAR(20),
    IN p_priority VARCHAR(20)
)
BEGIN
    INSERT INTO payroll_notifications (
        user_id, payroll_id, notification_type, title, message, 
        sent_via, sent_at, priority
    ) VALUES (
        p_user_id, p_payroll_id, p_notification_type, p_title, p_message,
        p_sent_via, NOW(), p_priority
    );
    
    SELECT LAST_INSERT_ID() AS notification_id;
END//

DELIMITER ;

-- =====================================================
-- TRIGGERS
-- =====================================================

DELIMITER //

-- Trigger to automatically send notification when payroll is created
CREATE TRIGGER IF NOT EXISTS `payroll_created_notification`
AFTER INSERT ON `payrolls`
FOR EACH ROW
BEGIN
    INSERT INTO payroll_notifications (
        user_id, payroll_id, notification_type, title, message, 
        sent_via, priority
    ) VALUES (
        NEW.employee_id, NEW.id, 'payroll_created', 
        'Payroll Created', 
        CONCAT('Your payroll for ', MONTHNAME(STR_TO_DATE(CONCAT(NEW.year, '-', NEW.month, '-01'), '%Y-%m-%d')), ' ', NEW.year, ' has been created.'),
        'system', 'medium'
    );
END//

-- Trigger to automatically send notification when payroll is approved
CREATE TRIGGER IF NOT EXISTS `payroll_approved_notification`
AFTER UPDATE ON `payrolls`
FOR EACH ROW
BEGIN
    IF NEW.status = 'approved' AND OLD.status != 'approved' THEN
        INSERT INTO payroll_notifications (
            user_id, payroll_id, notification_type, title, message, 
            sent_via, priority
        ) VALUES (
            NEW.employee_id, NEW.id, 'payroll_approved', 
            'Payroll Approved', 
            CONCAT('Your payroll for ', MONTHNAME(STR_TO_DATE(CONCAT(NEW.year, '-', NEW.month, '-01'), '%Y-%m-%d')), ' ', NEW.year, ' has been approved.'),
            'email', 'high'
        );
    END IF;
END//

DELIMITER ;

-- =====================================================
-- ADDITIONAL INDEXES FOR PERFORMANCE
-- =====================================================

-- Composite indexes for common query patterns
CREATE INDEX IF NOT EXISTS `idx_payroll_notifications_user_created` ON `payroll_notifications` (`user_id`, `created_at`);
CREATE INDEX IF NOT EXISTS `idx_payroll_notifications_type_created` ON `payroll_notifications` (`notification_type`, `created_at`);
CREATE INDEX IF NOT EXISTS `idx_payroll_notifications_sent_via_created` ON `payroll_notifications` (`sent_via`, `created_at`);

-- =====================================================
-- COMMENTS
-- =====================================================

-- Add comments to table and columns
ALTER TABLE `payroll_notifications` COMMENT = 'Payroll notification system for employee communications';
ALTER TABLE `payroll_notifications` MODIFY COLUMN `notification_type` ENUM('payslip_generated', 'payslip_sent', 'payroll_approved', 'payroll_rejected', 'payment_processed', 'payroll_created', 'payroll_updated', 'loan_deduction', 'bonus_awarded', 'overtime_approved') NOT NULL COMMENT 'Type of notification';
ALTER TABLE `payroll_notifications` MODIFY COLUMN `sent_via` ENUM('email', 'sms', 'system', 'push') DEFAULT 'system' COMMENT 'Method used to send notification';
ALTER TABLE `payroll_notifications` MODIFY COLUMN `priority` ENUM('low', 'medium', 'high', 'urgent') DEFAULT 'medium' COMMENT 'Notification priority level';
